body {
    background-image: url("../images/about.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* head page navbar */
#navbar{
    font-family: 'BioRhyme', serif;
    text-shadow: black 1px 2px 6px;
}
/* head for the about us */
h2{
    color:#e3f2fd;
    font-family: 'Poppins', sans-serif;
}

/* spacing between the headers with our names */
.collapsible-header {
    margin: 3px;
    color: #000;
    font-weight: bold;
    text-shadow: black 1px 2px 6px;
    font-family: 'Poppins', sans-serif;
}

.collapsible-header:hover {
    background-color: rgba(207, 207, 207, 0.877);
}

.collapsible-body {
    background-color: rgba(0, 0, 0, 0.699);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}