body{
    background-image: url("../images/nasville.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#navbar{
    font-family: 'Graduate', cursive;
}
/* head */
h2{
    color:#e3f2fd;
    font-family: 'Graduate', cursive;
}
/* spacing between the headers with our names */
.collapsible-header{
    margin: 3px;
    color: #000;
    font-weight: bold;
    text-shadow: black 1px 2px 6px;
    font-family: 'Alike Angular', serif;
}
.collapsible-header:hover{
    background-color: rgba(207, 207, 207, 0.877);
}