
#navbar{
    font-family: 'Graduate', cursive;
    text-shadow: black 1px 2px 6px;
}

/* title of paragraph */
.center-align{
    padding: 5px;
    font-family: 'Alike Angular', serif;
}
.nav-body{
    text-shadow: black 1px 2px 6px;
}
/* paragraph background */
#intro-par{
    border-radius: 5px;
}
/* finish button for the modal */
#finish-button{
    margin-top: -79px;
}
#modal1{
    font-family: 'Alike Angular', serif;
    text-shadow: black 0px 0px 1px;

}