/* background color */
body {
    background-color: #f7c59f;
    background-image: linear-gradient(14deg, #f7c59f 0%, #ffffff 100%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* body and html height and specs */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
/* navbar control for head  */
 #navbar {
    font-family: 'BioRhyme', serif;
    text-shadow: black 1px 2px 6px;
}
/* map of the results page */
#map {
  width: 100%;
  height: 40vh;
  margin-top: 3px;
}
/* title of the three cards */
h3{
  font-family: 'Poppins', sans-serif;
  text-shadow: black 1px 2px 6px;
}
 /*card body and style */
.card{
  margin-top: 50px;
  background-color: #848C8E;
  color:white;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}
/* card title */
.resultsTitle{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  text-shadow: black 1px 2px 6px;
}
/* card button style */
.pulse {
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.pulse:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
/* card images */
img{
  widows: 150px;
  height:150px;
}
