#map {
    height: 100%;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

#navbar {
    font-family: 'Graduate', cursive;
}

h2{
    color: black;
    font-family: 'Graduate', cursive;
}